/* Write your CSS here */
.projectImg {
  height: 380px;
}
a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 20px;
}
.title_container {
  display: flex;
  justify-content: space-between;
}
.calender {
  display: flex;
  align-items: center;
}
